.card-header {
  width: 100%;
  height: 50%;
}
.card-text {
  font-size: 10pt;
}

.fa-tag-custom {
  color: brown;
}

.fa-map-marker-alt-custom {
  color: springgreen;
}

.badge.bg-danger {
  background-color: rgb(255, 147, 147) !important;
  color: black !important;
}
