@import 'theme.css';

.admin-account,
.user-account {
  margin: 0;
}

.admin-account h3 .user-account h3 {
  font-size: 1.85rem;
}

.admin-account .box-container,
.user-account .box-container {
  margin: 0;
}

.admin-account .box-container .box,
.user-account .box-container .box,
.messages .box-container .box {
  padding: 1rem;
  margin: 0;
  background-color: var(--dark-second);
  border-radius: 0.5rem;
}

.admin-account .box-container .box > *,
.user-account .box-container .box > *,
.messages .box-container .box > * {
  font-size: 1.65rem;
}

.admin-account .box-container .box .keyspan,
.user-account .box-container .box .keyspan,
.messages .box-container .box .keyspan {
  color: var(--component-livid);
}

.admin-account .box-container .box .flex-action,
.user-account .box-container .box .flex-action,
.messages .box-container .box .flex-action {
  justify-content: space-between !important;
  margin: 0;
}

.admin-account .box-container .box .flex-action .btn,
.user-account .box-container .box .flex-action .btn,
.messages .box-container .box .flex-action .btn {
  padding: 0.5rem 5rem !important;
  width: fit-content;
  color: var(--light-primary);
  font-size: 1.65rem;
}

.admin-account .box-container .box .flex-action .btn:hover,
.user-account .box-container .box .flex-action .btn:hover,
.messages .box-container .box .flex-action .btn:hover {
  color: var(--dark-second) !important;
}

.admin-account .box-container .box .flex-action .btn-delete,
.user-account .box-container .box .flex-action .btn-delete,
.messages .box-container .box .flex-action .btn-delete {
  margin: 0 !important;
  color: var(--component-orange) !important;
}
