@import 'theme.css';

body {
  background-color: var(--dark-base) !important;
}

body i {
  margin: 10px;
}

.message {
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--component-livid);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.message span {
  font-size: 0.9rem;
  color: var(--light-primary);
}

.message i {
  font-size: 1.5rem;
  color: var(--component-orange);
  cursor: pointer;
}

.message i:hover {
  color: var(--component-livid);
}
