@import 'theme.css';

body {
  background-color: var(--dark-base) !important;
}

/* body i {
  margin: 10px;
} */

.message {
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--component-livid);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.message span {
  font-size: 0.9rem;
  color: var(--light-primary);
}

.message i {
  font-size: 1.5rem;
  color: var(--component-orange);
  cursor: pointer;
}

.message i:hover {
  color: var(--component-livid);
}

.btn {
  outline: auto;
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--component-orange) !important;
  background-color: transparent;
  font-size: 12pt;
}

.btn:hover {
  background-color: var(--component-orange) !important;
}

.btn,
.btn-delete,
.btn-opt {
  display: block;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.8rem;
  color: var(--light-primary);
  padding: 1rem 3rem;
  text-transform: capitalize;
  text-align: center;
}

.btn-delete,
.btn-opt {
  margin-top: 1rem;
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

header section.flex a {
  font-size: 18pt;
  color: var(--light-primary);
}

header section.flex nav a,
header section.flex .icons {
  margin: 0 1rem;
  font-size: 11.5pt;
  font-weight: 300;
  color: var(--light-primary);
}

header section.flex .icons > * {
  cursor: pointer;
  margin-left: 1.1rem;
}

header section.flex .icons > *:hover {
  color: var(--component-livid);
}

header section.flex .profile a {
  font-size: 12pt;
}

header section.flex .logo span {
  color: var(--component-livid);
}

header section.flex .profile .btn {
  padding: 5px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-second);
  box-shadow: var(--bottom-box-shadow);
  z-index: 9999;
}

header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header .flex .profile {
  position: absolute;
  top: 120%;
  right: 2rem;
  background-color: var(--dark-second);
  border: 1px solid var(--light-primary);
  border-radius: 0.5rem;
  padding: 1.3rem;
  width: 18rem;
  display: none;
  animation: fadeIn 0.2s linear;
}

header .flex .profile p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
  color: var(--light-primary);
}

header .flex .profile.active {
  display: inline-block;
}

#menu-btn {
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
  }
}

/**************************/
/** Admin Dashboard Part **/
/**************************/
/**************************/

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}

.dashboard .box {
  text-align: center;
  background-color: var(--dark-second);
  border: none;
  box-shadow: var(--min-box-shadow);
  border-radius: 0.3rem;
  text-align: center;
  padding: 1rem;
}

.dashboard .box h3 {
  font-size: 1.4rem;
  color: var(--light-primary);
  padding: 1.1rem;
  border-radius: 0.3rem;
  background-color: var(--dark-warm);
}

.dashboard .box p {
  font-size: 0.95rem;
  color: var(--component-livid);
  margin: 0 0 5rem 0;
  padding: 0 1.1rem;
}

.dashboard .box .btn {
  font-size: 1.035rem;
  padding: 0.4rem 0.6rem;
}
