@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .items-container .card p {
    height: 10rem !important;
    font-size: 0.9rem !important;
    font-weight: 300 !important;
  }
  header .flex .product-operation {
    left: 18rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1452px) {
  .container {
    max-width: 1360px;
  }
}

@media (max-width: 991.98px) {
  #menu-btn {
    display: inline-block;
  }
  .header section.flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-bottom: var(--light-border);
    background-color: var(--dark-warm);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header section.flex .navbar a {
    display: block !important;
    margin: 0.5rem 1rem;
    width: 100%;
  }
}
