@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import 'theme.css';

a {
  text-decoration: none !important;
}

body {
  background-color: var(--dark-base);
}

body i {
  margin: 5px;
}

.dropdown-toggle::before {
  display: none !important;
}

header {
  background-color: var(--dark-second);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .flex .logo {
  font-size: 2.2rem;
  color: var(--component-livid);
}

header .flex .navbar a {
  padding: 0.85rem 1rem;
  background-color: var(--dark-base);
  border-radius: 0.3rem;
  margin-left: 1rem;
  font-style: 1.8rem;
  color: var(--component-orange);
}
