@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import 'theme.css';

a {
  text-decoration: none !important;
}

body {
  background-color: var(--dark-base);
}

body i {
  margin: 5px;
}

.container-header {
  background-color: var(--dark-second);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

section.flex {
  margin: auto auto !important;
}

.dropdown-toggle::before {
  display: none !important;
}

header {
  background-color: var(--dark-second);
}

header section.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* header section.flex .logo {
  font-size: 1.8rem;
  color: var(--component-livid);
  margin-left: 25px;
}

header .flex .navbar {
  margin-right: 25px;
}

header .flex .navbar a {
  padding: 0.65rem 0.75rem;
  background-color: var(--dark-base);
  border-radius: 0.3rem;
  margin-left: 0.7rem;
  font-size: 1.2rem;
  color: var(--component-orange);
}

.cart-icon span {
  font-size: 11pt;
}

.empty-space {
  visibility: hidden;
} */

/* .container .insert-product .card form {
  margin: 0 auto;
  max-width: 70rem;
  padding: 2rem;
} */

.container .card .row .flex label {
  text-align: left;
  font-size: 1.6rem !important;
}
.container .card .row .flex input {
  font-size: 1.8rem;
  padding: 0.5rem;
  /* height: 3rem !important; */
}

.container .card textarea {
  width: 100%;
}

.container .card .row .flex input {
  background-color: var(--dark-warm);
  color: var(--light-secondary) !important;
  font-weight: 300 !important;
  border: none;
}

.container .card textarea {
  background-color: var(--dark-warm);
  color: var(--light-secondary);
  border: none;
  font-weight: 300;
  font-size: 1.8rem;
  resize: none;
}

.container .card .row .flex input[type='file']::file-selector-button {
  border: none;
  padding: 0.8rem;
  border-radius: 0.2em;
  background-color: var(--component-orange);
  color: var(--light-primary);
  font-size: 1.5rem;
  transition: 1s;
}

.container .card .row .flex input[type='file']::file-selector-button:hover {
  background-color: var(--dark-second);
}

.container .card .row .flex input[type='submit'] {
  color: var(--light-primary) !important;
}

.container-box .empty {
  border: var(--light-border);
  border-radius: 0.3rem;
  background-color: var(--dark-second);
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--component-livid);
}

/***************************/
/** View All Product Part **/
/***************************/
/***************************/

.container .product-card img {
  width: 100%;
  /* height: 15rem; */
  object-fit: contain;
}
.container .product-card {
  padding: 0;
}
.container .product-card .product-card-body {
  margin: 0;
}
.container .product-card .product-card-body h5 {
  font-size: 1.8rem !important;
}

.container .product-card .product-card-body p {
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  height: 15rem;
}

.container .product-card .product-card-body .btn-product {
  font-size: 1.5rem;
  padding: 0.8rem;
}

.container .product-card .product-card-body .product-card-spec-price {
  background-color: var(--dark-warm);
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: var(--component-orange);
  width: fit-content;
}

.container .product-card .product-card-body p {
  height: 15rem;
}

.container .product-card .product-card-body .flex-action {
  gap: 1rem;
}

.container .product-card .product-card-body .flex-action .btn-delete {
  color: var(--component-orange) !important;
}

.container .product-card .product-card-body .flex-action .btn-delete:hover {
  color: var(--light-primary) !important;
}

.container .view-product .box-container .card {
  padding: 0;
}

.view-product {
  gap: 1rem !important;
}

.view-product .box-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem !important;
}

.view-product .box-container .card {
  background-color: var(--dark-second);
  border: none;
  border-radius: 0.3rem;
  padding: 0;
  margin: 0.5rem;
  gap: 0.5rem;
}

.view-product {
  gap: 0.5rem;
}

.update-product form {
  margin: 0 auto;
  max-width: 70rem;
  background-color: var(--dark-second);
  border-radius: 0.5rem;
  box-shadow: var(--min-box-shadow);
  border: var(--light-border);
  padding: 2rem;
}

.update-product form .image-container .main-image img {
  height: 20rem;
  width: 100%;
  object-fit: contain;
}

.update-product form .image-container .sub-image {
  display: flex;
  gap: 1.5rem;
  margin: 1rem 0;
  justify-content: center;
}

.update-product form .image-container .sub-image img {
  width: 8rem;
  height: 7rem;
  object-fit: contain;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transform: 0.2s linear;
}

.update-product form .image-container .sub-image img:hover {
  transform: scale(1.1);
}

.update-product form .box {
  background-color: var(--dark-second);
  border: var(--light-border);
}
