@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import 'theme.css';

a {
  text-decoration: none !important;
}

body {
  background-color: var(--dark-base);
}

body i {
  margin: 5px;
}

.container-header {
  background-color: var(--dark-second);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

section.flex {
  margin: auto auto !important;
}

.dropdown-toggle::before {
  display: none !important;
}

header {
  background-color: var(--dark-second);
}

header section.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* header section.flex .logo {
  font-size: 1.8rem;
  color: var(--component-livid);
  margin-left: 25px;
}

header .flex .navbar {
  margin-right: 25px;
}

header .flex .navbar a {
  padding: 0.65rem 0.75rem;
  background-color: var(--dark-base);
  border-radius: 0.3rem;
  margin-left: 0.7rem;
  font-size: 1.2rem;
  color: var(--component-orange);
}

.cart-icon span {
  font-size: 11pt;
}

.empty-space {
  visibility: hidden;
} */

/* .container .insert-product .card form {
  margin: 0 auto;
  max-width: 70rem;
  padding: 2rem;
} */

.container .card .row .flex label {
  text-align: left;
  font-size: 1.6rem !important;
}
.container .card .row .flex input {
  font-size: 1.8rem;
  padding: 0.5rem;
  /* height: 3rem !important; */
}

.container .card textarea {
  width: 100%;
}

.container .card .row .flex input {
  background-color: var(--dark-warm);
  color: var(--light-secondary) !important;
  font-weight: 300 !important;
  border: none;
}

.container .card textarea {
  background-color: var(--dark-warm);
  color: var(--light-secondary);
  border: none;
  font-weight: 300;
  font-size: 1.8rem;
}

.container .card .row .flex input[type='file']::file-selector-button {
  border: none;
  padding: 0.8rem;
  border-radius: 0.2em;
  background-color: var(--component-orange);
  color: var(--light-primary);
  font-size: 1.5rem;
  transition: 1s;
}

.container .card .row .flex input[type='file']::file-selector-button:hover {
  background-color: var(--dark-second);
}

.container .card .row .flex input[type='submit'] {
  color: var(--light-primary) !important;
}
