.container {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  /* .card {
    width: 60% !important;
    height: auto;
  } */
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .card {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .card {
    width: 25% !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1452px) {
  .container {
    max-width: 1360px;
  }
}
