@import 'theme.css';

.container {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  /* .card {
    width: 60% !important;
    height: auto;
  } */
  .header .flex .profile {
    width: 30rem;
  }
  .container .product-card {
    /* width: 36rem !important; */
    padding: 0;
    /* margin: 0.5rem; */
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .card {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .log .card {
    width: 25% !important;
  }
  .reg .card {
    width: 25% !important;
  }
  .ins .card {
    width: 50% !important;
  }
  .upd .card {
    width: 50% !important;
  }
  .dashboard .box-container .box {
    padding: 1.5rem;
  }
  .dashboard .box-container .box h3 {
    font-size: 1.35rem !important;
  }
  .dashboard .box-container .box p {
    font-size: 0.95rem;
  }
  .dashboard .box-container .box .btn {
    font-size: 1.035rem;
    padding: 0.4rem 0.6rem;
  }
  .container .card .row .flex input {
    font-size: 0.95rem;
  }
  .container .card .row .flex label {
    font-size: 0.95rem !important;
  }
  .container .card .row .flex textarea {
    font-size: 0.95rem;
  }
  .container .card .row .flex input[type='file']::file-selector-button {
    padding: 0.5rem;
    border-radius: 0.2em;
    background-color: var(--component-orange);
    color: var(--light-primary);
    font-size: 0.85rem;
    transition: 0.8s;
  }
  header .flex .product-operation {
    left: 16rem;
    width: 15rem;
  }
  header .flex .product-operation.active a {
    font-size: 0.95rem;
  }
  .log .card form input[type='text'],
  .log .card form input[type='password'],
  .reg .card form input[type='text'],
  .reg .card form input[type='password'],
  .upd .card form input[type='text'],
  .upd .card form input[type='password'] {
    font-size: 0.9rem !important;
    padding: 0.5rem !important;
  }

  .log .card form input[type='submit'],
  .reg .card form input[type='submit'],
  .upd .card form input[type='submit'] {
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
  }

  /* .container .box-container .product-card {
    width: 18rem !important;
    margin: 0.25rem;
    gap: 0.5rem !important;
  } */
  .container .product-card .product-card-body > * {
    margin-top: 0.7rem;
  }
  .container .product-card .product-card-body h5 {
    font-size: 0.95rem !important;
  }
  .container .product-card .product-card-body p {
    font-size: 0.8rem !important;
    height: 11rem;
  }
  .container .product-card .product-card-body .btn {
    padding: 0.3rem;
    font-size: 0.8rem !important;
  }
  .placed-orders .box-container .box > * {
    margin-top: 0.5rem;
    font-size: 0.9rem !important;
  }
  .placed-orders .box-container .box .btn {
    font-size: 0.9rem !important;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem 2rem;
  }
  .placed-orders .box-container .box .dropdown {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
  }
  .admin-account h3 {
    font-size: 1.3rem;
  }
  .admin-account .box-container .box > * {
    font-size: 0.9rem;
  }
  .admin-account .box-container .box .flex-action .btn {
    padding: 0.5rem 5rem !important;
    font-size: 0.9rem;
  }
  .user_header section.flex a.logo {
    font-size: 1.3rem !important;
  }
  .user-account h3 {
    font-size: 1.3rem;
  }
  .user-account .box-container .box > * {
    font-size: 0.9rem;
  }
  .user-account .box-container .box .flex-action .btn {
    padding: 0.5rem 5rem !important;
    font-size: 0.9rem;
  }
  .messages h3 {
    font-size: 1.3rem;
  }
  .messages .box-container .box > * {
    font-size: 0.9rem;
  }
  .messages .box-container .box .flex-action .btn {
    padding: 0.5rem 5rem !important;
    font-size: 0.9rem;
  }

  .user_header .flex .profile .when-no-user {
    margin-bottom: 0;
    font-size: 0.9rem !important;
  }
  .user_header section.flex nav a {
    font-size: 0.9rem !important;
  }
  .user_header .icons a {
    font-size: 1rem !important;
  }
  .user_header .icons #wishlist-btn .badge,
  .user_header .icons #cart-btn .badge {
    font-size: 0.5rem !important;
  }
  .home-carousel {
    font-size: 0.9rem;
  }
  footer .box-container {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 0.8rem;
  }
  footer .box-container .box h4 {
    font-size: 1.3rem !important;
  }
  footer .box-container .box a {
    display: block;
    margin: 0.8rem 0;
    font-size: 0.9rem;
  }
  footer .box-container .box a:hover i {
    padding-right: 1.5rem;
  }
  footer .credit {
    padding: 0.8rem;
    font-size: 0.8rem;
  }

  .home-bg .swiper-slide .img-content span {
    font-size: 0.95rem;
  }
  .home-bg .swiper-slide .img-content h4 {
    font-size: 1.8rem !important;
    margin: 1.1rem 0;
  }
  .home-bg .swiper-slide .img-content a.btn {
    display: inline-block;
    font-size: 1rem !important;
    width: 40% !important;
  }
  .home-category .category-slider .slide h4 {
    font-size: 0.95rem !important;
  }
  section .section-title {
    font-size: 1.35rem !important;
  }
  .home-products .products-gadget-slider .swiper-wrapper .slide > *,
  .home-products .products-furniture-slider .swiper-wrapper .slide > *,
  .home-products .products-cloth-slider .swiper-wrapper .slide > *,
  .home-products .products-grocery-slider .swiper-wrapper .slide > * {
    font-size: 1.1rem !important;
  }
  .home-products .products-gadget-slider .swiper-wrapper .slide .name,
  .home-products .products-furniture-slider .swiper-wrapper .slide .name,
  .home-products .products-cloth-slider .swiper-wrapper .slide .name,
  .home-products .products-grocery-slider .swiper-wrapper .slide .name {
    height: 3rem;
  }
  .home-products .products-gadget-slider .swiper-wrapper .slide input,
  .home-products .products-furniture-slider .swiper-wrapper .slide input,
  .home-products .products-cloth-slider .swiper-wrapper .slide input,
  .home-products .products-grocery-slider .swiper-wrapper .slide input {
    font-size: 0.9rem !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container .product-card .product-card-body p {
    height: 9rem;
  }
  footer .box-container {
    align-items: center !important;
    /* padding: 0 5rem !important; */
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
  .home-bg .swiper-slide .img-content a.btn {
    width: 30% !important;
    height: auto;
  }
}

@media (min-width: 1452px) {
  .container {
    max-width: 1360px;
  }
}

@media (max-width: 575.98px) {
  .flex-btn {
    flex-flow: column;
    gap: 0;
  }
}

@media (max-width: 767.98px) {
  #menu-btn {
    display: inline-block;
  }

  .header section.flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-bottom: var(--light-border);
    background-color: var(--dark-warm);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header section.flex .navbar a {
    display: block !important;
    margin: 2rem;
    width: 100%;
  }

  .user_header section.flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-bottom: var(--light-border);
    background-color: var(--dark-warm);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .user_header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .user_header section.flex .navbar a {
    display: block !important;
    margin: 2rem;
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1199.98px) {
  /* css rule */
}

@media (max-width: 1451.98px) {
  /* css rule */
}
