@import 'theme.css';

/* Wishlist & Cart Page*/

.list-group .list-group-item div .img-container {
  width: fit-content;
}

.list-group .list-group-item .list-action a,
.list-group .list-group-item .action-checkout a {
  display: block;
  border-radius: 0.5rem;
}
.list-group .list-group-item .list-action .del {
  border: 0.05rem solid var(--component-crimson) !important;
}

.list-group .list-group-item .list-action .throw-to-cart {
  border: 0.05rem solid var(--component-golden) !important;
}

.list-group .list-group-item .list-action .throw-to-wishlist {
  border: 0.05rem solid var(--component-emerald) !important;
}

.list-group .list-group-item .action-checkout .picker {
  border: 0.05rem solid var(--component-emerald) !important;
}

.list-group .list-group-item .list-action .del:hover {
  background-color: var(--component-crimson);
  transition: 0.5s;
}

.list-group .list-group-item .list-action .throw-to-wishlist:hover,
.list-group .list-group-item .action-checkout .picker:hover {
  background-color: var(--component-emerald);
  transition: 0.5s;
}

.list-group .list-group-item .list-action .throw-to-cart:hover {
  background-color: var(--component-golden);
  transition: 0.5s;
}

.list-group .list-group-item .list-action .del:hover i,
.list-group .list-group-item .list-action .throw-to-cart:hover i,
.list-group .list-group-item .list-action .throw-to-wishlist:hover i,
.list-group .list-group-item .action-checkout .picker:hover,
.list-group .list-group-item .action-checkout .picker:hover i {
  color: var(--dark-base) !important;
}

.bottom-list .list-group-item .d-flex > *,
.bottom-list .list-group-item .d-flex .fw-bold {
  color: var(--component-emerald) !important;
}
