@import 'theme.css';

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Message Notification */
/**/ /**/ /**/
/**/ /**/ /**/

.message {
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--component-livid);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.message span {
  font-size: 0.9rem;
  color: var(--light-primary);
}

.message i {
  font-size: 1.5rem;
  color: var(--component-orange);
  cursor: pointer;
}

.message i:hover {
  color: var(--component-livid);
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Global Button */
/**/ /**/ /**/
/**/ /**/ /**/

.btn {
  outline: auto;
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--component-orange) !important;
  background-color: transparent;
  font-size: 12pt;
}

.btn:hover {
  background-color: var(--component-orange) !important;
}

.btn,
.btn-delete,
.btn-opt {
  display: block;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.8rem;
  color: var(--light-primary);
  padding: 1rem 3rem;
  text-transform: capitalize;
  text-align: center;
}

.btn-delete,
.btn-opt {
  margin-top: 1rem;
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* User Login Form */
/**/ /**/ /**/
/**/ /**/ /**/
.login-container {
  height: 100vh !important;
}
.login-card {
  width: 90%;
  border: 0.08rem solid var(--component-turquoise) !important;
  box-shadow: var(--bottom-box-shadow);
}

.login-card .row .title-card {
  font-size: 2rem;
  font-weight: 600;
  color: var(--component-turquoise);
}

.login-card .row form input {
  background-color: var(--dark-warm);
  border: none;
  outline: none;
  color: var(--light-primary) !important;
  font-size: 1.65rem;
  border-radius: 0.5rem;
}

.login-card .row form input[type='submit'].btn {
  background-color: transparent !important;
  color: var(--light-primary) !important;
  border: 0.08rem solid var(--component-turquoise) !important;
  width: 100%;
}

.login-card .row form input[type='submit'].btn:hover {
  background-color: var(--component-turquoise) !important;
  color: var(--dark-second) !important;
  border: 0.08rem solid var(--component-turquoise) !important;
}

.login-card .row span {
  font-size: 1.45rem;
}

.login-card .row span a {
  color: var(--component-turquoise);
}
/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* User Navigation Bar */
/**/ /**/ /**/
/**/ /**/ /**/

.user_header section.flex a.logo {
  font-size: 1.9rem !important;
}
.user_header section.flex a {
  font-size: 18pt;
  color: var(--light-primary);
}

.user_header section.flex .navbar a:hover {
  color: var(--component-livid) !important;
}

.user_header section.flex nav a {
  margin: 0 1rem;
  font-size: 1.65rem;
  font-weight: 300;
  color: var(--light-primary);
}

.user_header section.flex .icons > * {
  cursor: pointer;
  margin-left: 1.1rem;
}

.user_header section.flex .icons > *:hover {
  color: var(--component-orange) !important;
}

.user_header section.flex .icons .search-btn {
  color: var(--component-crimson) !important;
}
.user_header section.flex .icons .wishlist-btn {
  color: var(--component-emerald) !important;
}
.user_header section.flex .icons .cart-btn {
  color: var(--component-golden) !important;
}
.user_header section.flex .icons .account-btn {
  color: var(--component-turquoise) !important;
}

.user_header section.flex .logo span {
  color: var(--component-livid);
}

.user_header section.flex .profile .btn {
  padding: 5px;
}

.user_header section.flex .profile p {
  color: var(--light-primary);
}

.user_header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-second);
  box-shadow: var(--bottom-box-shadow);
  z-index: 9999;
}

.user_header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.user_header .flex .product-operation {
  position: absolute;
  top: 100%;
  left: 14rem;
  background-color: var(--dark-second);
  border: 0.5px solid var(--light-secondary);
  border-radius: 0.3rem;
  padding: 1.3rem;
  width: 20rem;
  display: none;
  z-index: 99991;
  animation: fadeIn 0.2s linear;
}

.user_header .flex .product-operation.active.active {
  display: inline-block;
}

.user_header .flex .product-operation.active a {
  display: block;
  width: 100%;
  font-size: 1.65rem;
}

.user_header section.flex .product-operation.active a i {
  color: var(--component-orange) !important;
}

.user_header section.flex .product-operation.active a:hover {
  color: var(--component-livid) !important;
}

.user_header .flex .profile {
  position: absolute;
  top: 120%;
  right: 2rem;
  background-color: var(--dark-second);
  border: 1px solid var(--light-primary);
  border-radius: 0.5rem;
  padding: 1.3rem;
  width: 18rem;
  display: none;
  animation: fadeIn 0.2s linear;
}

.user_header .flex .profile p {
  margin-bottom: 1rem;
  font-size: 1.65rem;
  text-align: center;
  color: var(--light-primary);
}

.user_header .flex .profile.active {
  display: inline-block;
}

#menu-btn {
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
  }
}

.user_header .icons {
  margin-right: 0 !important;
}

.user_header .icons a {
  font-size: 1.8rem !important;
}

.user_header .icons a span {
  color: var(--dark-base) !important;
}

.user_header .icons #wishlist-btn .badge,
.user_header .icons #cart-btn .badge {
  font-size: 1.1rem !important;
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Footer */
/**/ /**/ /**/
/**/ /**/ /**/

footer {
  background-color: var(--dark-second);
}

footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 1rem;
  align-items: flex-start;
}

footer .box-container .box h4 {
  font-size: 1.9rem !important;
  color: var(--light-primary);
  text-transform: capitalize;
}

footer .box-container .box a {
  display: block;
  margin: 1rem 0;
  color: var(--component-livid);
  font-size: 1.65rem;
}

footer .box-container .box a i {
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

footer .box-container .box a:hover i {
  padding-right: 2rem;
}

footer .credit {
  padding: 1rem;
  text-align: center;
  border-top: var(--light-border);
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
}

footer .credit span {
  color: var(--component-turquoise);
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Headline Carousel */
/**/ /**/ /**/
/**/ /**/ /**/

.carousel .carousel-inner .carousel-caption {
  text-shadow: 0 0 10px var(--dark-second) !important;
}

.carousel .carousel-indicators button {
  scrollbar-shadow-color: var(--dark-second) !important;
}

.home-bg {
  background: url('../../assets/images/slider/abstract_dark_gold.png') no-repeat !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed !important;
}

section .section-title {
  color: var(--component-orange) !important;
  font-size: 1.75rem !important;
}

.home-bg .swiper-slide {
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 0.5rem;
}

/* .home-bg .slide .image {
  flex: 1 1 40rem;
}

.home-bg .slide .image img {
  object-fit: contain;
} */

.home-bg .swiper-slide .img-content {
  flex: 1 1 40rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.home-bg .swiper-slide .img-content span {
  font-size: 1.65rem;
  color: var(--light-primary);
}

.home-bg .swiper-slide .img-content h4 {
  text-transform: capitalize;
  font-size: 2.5rem !important;
  margin: 1rem 0;
}

.home-bg .swiper-slide .img-content a.btn {
  display: inline-block;
  font-size: 1.65rem !important;
  width: 50%;
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Category Section */
/**/ /**/ /**/
/**/ /**/ /**/

.home-category .category-slider .swiper-wrapper {
  margin-bottom: 1.2rem;
}

.home-category .category-slider .slide {
  text-align: center;
  border-radius: 0.5rem;
  padding: 1.1rem;
  box-shadow: var(--bottom-box-shadow);
  background-color: var(--dark-base);
  display: inline-block;
}

.home-category .category-slider .slide img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.home-category .category-slider .slide h4 {
  margin: 0 !important;
  font-size: 1.65rem;
  color: var(--light-primary);
}

.home-category .category-slider .slide:hover {
  background-color: var(--dark-second);
}

.home-category .category-slider .slide:hover img {
  filter: invert();
}

.home-category .category-slider .slide:hover h4 {
  color: var(--light-primary);
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Home Product Section */
/**/ /**/ /**/
/**/ /**/ /**/

.home-products .swiper .products-header {
  color: var(--component-turquoise) !important;
  font-size: 1.7rem;
}

.home-products .products-gadget-slider .swiper-wrapper .slide,
.home-products .products-furniture-slider .swiper-wrapper .slide,
.home-products .products-cloth-slider .swiper-wrapper .slide,
.home-products .products-grocery-slider .swiper-wrapper .slide,
.home-products .products-tool-slider .swiper-wrapper .slide,
.home-products .products-service-slider .swiper-wrapper .slide {
  background-color: var(--dark-warm);
  border-radius: 0.5rem;
  border: var(--light-border);
  box-shadow: none;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.home-products .products-gadget-slider .swiper-wrapper .slide > *,
.home-products .products-furniture-slider .swiper-wrapper .slide > *,
.home-products .products-cloth-slider .swiper-wrapper .slide > *,
.home-products .products-grocery-slider .swiper-wrapper .slide > *,
.home-products .products-tool-slider .swiper-wrapper .slide > *,
.home-products .products-service-slider .swiper-wrapper .slide > * {
  font-size: 1.65rem;
}

.home-products .products-gadget-slider .swiper-wrapper .slide .name,
.home-products .products-furniture-slider .swiper-wrapper .slide .name,
.home-products .products-cloth-slider .swiper-wrapper .slide .name,
.home-products .products-grocery-slider .swiper-wrapper .slide .name,
.home-products .products-tool-slider .swiper-wrapper .slide .name,
.home-products .products-service-slider .swiper-wrapper .slide .name {
  text-align: start !important;
  height: 3.5rem;
  font-size: 1.45rem;
}

.home-products .products-gadget-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-gadget-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-furniture-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-furniture-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-cloth-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-cloth-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-grocery-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-grocery-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-tool-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-tool-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-service-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-service-slider .swiper-wrapper .slide .fa-eye {
  position: absolute;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
  border: none;
  background-color: transparent;
  border-radius: 0.3rem;
}

.home-products .products-gadget-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-furniture-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-cloth-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-grocery-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-tool-slider .swiper-wrapper .slide .fa-heart,
.home-products .products-service-slider .swiper-wrapper .slide .fa-heart {
  color: var(--component-crimson);
  right: 1rem;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.home-products .products-gadget-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-furniture-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-cloth-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-grocery-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-tool-slider .swiper-wrapper .slide .fa-eye,
.home-products .products-service-slider .swiper-wrapper .slide .fa-eye {
  color: var(--component-turquoise);
  left: 1rem;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.home-products .products-gadget-slider .swiper-wrapper .slide .fa-heart:hover,
.home-products .products-gadget-slider .swiper-wrapper .slide .fa-eye:hover,
.home-products .products-furniture-slider .swiper-wrapper .slide .fa-heart:hover,
.home-products .products-furniture-slider .swiper-wrapper .slide .fa-eye:hover,
.home-products .products-cloth-slider .swiper-wrapper .slide .fa-heart:hover,
.home-products .products-cloth-slider .swiper-wrapper .slide .fa-eye:hover,
.home-products .products-grocery-slider .swiper-wrapper .slide .fa-heart:hover,
.home-products .products-grocery-slider .swiper-wrapper .slide .fa-eye:hover,
.home-products .products-tool-slider .swiper-wrapper .slide .fa-heart:hover,
.home-products .products-tool-slider .swiper-wrapper .slide .fa-eye:hover,
.home-products .products-service-slider .swiper-wrapper .slide .fa-heart:hover,
.home-products .products-service-slider .swiper-wrapper .slide .fa-eye:hover {
  text-shadow: 0 0 15px var(--component-crimson);
  transition: 0.3s linear;
}

.home-products .products-gadget-slider .swiper-wrapper .slide:hover .fa-heart,
.home-products .products-furniture-slider .swiper-wrapper .slide:hover .fa-heart,
.home-products .products-cloth-slider .swiper-wrapper .slide:hover .fa-heart,
.home-products .products-grocery-slider .swiper-wrapper .slide:hover .fa-heart,
.home-products .products-tool-slider .swiper-wrapper .slide:hover .fa-heart,
.home-products .products-service-slider .swiper-wrapper .slide:hover .fa-heart {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.home-products .products-gadget-slider .swiper-wrapper .slide:hover .fa-eye,
.home-products .products-furniture-slider .swiper-wrapper .slide:hover .fa-eye,
.home-products .products-cloth-slider .swiper-wrapper .slide:hover .fa-eye,
.home-products .products-grocery-slider .swiper-wrapper .slide:hover .fa-eye,
.home-products .products-tool-slider .swiper-wrapper .slide:hover .fa-eye,
.home-products .products-service-slider .swiper-wrapper .slide:hover .fa-eye {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.home-products .products-gadget-slider .swiper-wrapper .slide .image,
.home-products .products-furniture-slider .swiper-wrapper .slide .image,
.home-products .products-cloth-slider .swiper-wrapper .slide .image,
.home-products .products-grocery-slider .swiper-wrapper .slide .image,
.home-products .products-tool-slider .swiper-wrapper .slide .image,
.home-products .products-service-slider .swiper-wrapper .slide .image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.home-products .products-gadget-slider .swiper-wrapper .slide .qty,
.home-products .products-furniture-slider .swiper-wrapper .slide .qty,
.home-products .products-cloth-slider .swiper-wrapper .slide .qty,
.home-products .products-grocery-slider .swiper-wrapper .slide .qty,
.home-products .products-tool-slider .swiper-wrapper .slide .qty,
.home-products .products-service-slider .swiper-wrapper .slide .qty {
  width: fit-content !important;
}

.home-products .products-gadget-slider .swiper-wrapper .slide input,
.home-products .products-furniture-slider .swiper-wrapper .slide input,
.home-products .products-cloth-slider .swiper-wrapper .slide input,
.home-products .products-grocery-slider .swiper-wrapper .slide input,
.home-products .products-tool-slider .swiper-wrapper .slide input,
.home-products .products-service-slider .swiper-wrapper .slide input {
  background-color: var(--dark-base);
  color: var(--light-primary) !important;
  font-size: 1.35rem;
}

.home-products .products-gadget-slider .swiper-wrapper .slide input[type='submit'],
.home-products .products-furniture-slider .swiper-wrapper .slide input[type='submit'],
.home-products .products-cloth-slider .swiper-wrapper .slide input[type='submit'],
.home-products .products-grocery-slider .swiper-wrapper .slide input[type='submit'],
.home-products .products-tool-slider .swiper-wrapper .slide input[type='submit'],
.home-products .products-service-slider .swiper-wrapper .slide input[type='submit'] {
  border: 1px solid var(--component-orange);
}

.home-products .products-gadget-slider .swiper-wrapper .slide input[type='submit']:hover,
.home-products .products-furniture-slider .swiper-wrapper .slide input[type='submit']:hover,
.home-products .products-cloth-slider .swiper-wrapper .slide input[type='submit']:hover,
.home-products .products-grocery-slider .swiper-wrapper .slide input[type='submit']:hover,
.home-products .products-tool-slider .swiper-wrapper .slide input[type='submit']:hover,
.home-products .products-service-slider .swiper-wrapper .slide input[type='submit']:hover {
  color: var(--dark-base) !important;
}
