@import 'theme.css';

/**/ /**/ /**/
/**/ /**/ /**/
/***************************************************************************** Wishlist & Cart Page*/
/**/ /**/ /**/
/**/ /**/ /**/

.list-group .list-group-item div .img-container {
  width: fit-content;
}

.list-group .list-group-item .list-action a,
.list-group .list-group-item .action-checkout a {
  display: block;
  border-radius: 0.5rem;
}
.list-group .list-group-item .list-action .del {
  border: 0.05rem solid var(--component-crimson) !important;
}

.list-group .list-group-item .list-action .throw-to-cart {
  border: 0.05rem solid var(--component-golden) !important;
}

.list-group .list-group-item .list-action .throw-to-wishlist,
.list-group .list-group-item .action-checkout .picker {
  border: 0.05rem solid var(--component-emerald) !important;
}

.list-group .list-group-item .list-action .del:hover {
  background-color: var(--component-crimson);
  transition: 0.5s;
}

.list-group .list-group-item .list-action .throw-to-wishlist:hover,
.list-group .list-group-item .action-checkout .picker:hover {
  background-color: var(--component-emerald);
  transition: 0.5s;
}

.list-group .list-group-item .list-action .throw-to-cart:hover {
  background-color: var(--component-golden);
  transition: 0.5s;
}

.list-group .list-group-item .list-action .del:hover i,
.list-group .list-group-item .list-action .throw-to-cart:hover i,
.list-group .list-group-item .list-action .throw-to-wishlist:hover i,
.list-group .list-group-item .action-checkout .picker:hover,
.list-group .list-group-item .action-checkout .picker:hover i {
  color: var(--dark-base) !important;
}

.bottom-list .list-group-item .d-flex > *,
.bottom-list .list-group-item .d-flex .fw-bold {
  color: var(--component-emerald) !important;
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Category Inner Item */
/**/ /**/ /**/
/**/ /**/ /**/

.container .items-container .item-card {
  background-color: var(--dark-warm) !important;
  width: 48% !important;
  border-radius: 0.5rem;
  border: var(--light-border) !important;
  box-shadow: none;
  padding: 0.3rem;
  position: relative;
  overflow: hidden;
}

.container .items-container .item-card > * {
  font-size: 1.65rem;
}

.container .items-container .item-card .name {
  text-align: start !important;
  height: 3.5rem;
  font-size: 1.45rem;
}

.container .items-container .item-card .fa-heart,
.container .items-container .item-card .fa-eye {
  position: absolute;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
  border: none;
  background-color: transparent;
  border-radius: 0.3rem;
}

.container .items-container .item-card .fa-heart {
  color: var(--component-crimson);
  right: 1rem;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.container .items-container .item-card .fa-eye {
  color: var(--component-turquoise);
  left: 1rem;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.container .items-container .item-card .fa-heart:hover,
.container .items-container .item-card .fa-eye:hover {
  /* background-color: var(--dark-base); */
  text-shadow: 0 0 15px var(--component-orange);
  transition: 0.3s linear;
}

.container .items-container .item-card:hover .fa-heart {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.container .items-container .item-card:hover .fa-eye {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.container .items-container .item-card .image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container .items-container .item-card .qty {
  width: fit-content !important;
}

.container .items-container .item-card input {
  background-color: var(--dark-base);
  color: var(--light-primary) !important;
  font-size: 1.35rem;
}

.container .items-container .item-card input[type='submit'] {
  border: 1px solid var(--component-orange);
}

.container .items-container .item-card input[type='submit']:hover {
  color: var(--dark-base) !important;
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Quick View */
/**/ /**/ /**/
/**/ /**/ /**/

.quick-view-section .item-card {
  background-color: var(--dark-second);
  border: var(--light-border);
  gap: 1rem;
  width: 100% !important;
  border-radius: 0.3rem;
  box-shadow: none;
}

.quick-view-section .item-card .img-container {
  flex: 1 1 20rem;
}

.quick-view-section .item-card .card-body {
  flex: 1 1 20rem;
}

.quick-view-section .item-card .img-container .big-img img {
  height: fit-content;
  width: 100%;
  object-fit: contain;
}

.quick-view-section .item-card .img-container .little-imgs {
  gap: 0.8rem;
}

.quick-view-section .item-card .img-container .little-imgs img {
  height: 3.5rem;
  width: 3.5rem;
  border: var(--light-border);
  cursor: pointer;
  transition: 0.3s linear;
}

.quick-view-section .item-card .card-body div input {
  width: fit-content;
}

.quick-view-section .item-card .card-body div .price {
  width: fit-content;
  border-radius: 0.3rem;
  background-color: var(--component-livid);
}
