@import 'theme.css';
@import '../../node_modules/intl-tel-input/build/css/intlTelInput.css';

/* Global Chrome Autocomplete Input Config */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: var(--light-primary) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-warm) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/**/ /**/ /**/
/**/ /**/ /**/
/***************************************************************************** Wishlist & Cart Page*/
/**/ /**/ /**/
/**/ /**/ /**/

.list-group .list-group-item div .img-container {
  width: fit-content;
}

.list-group .list-group-item .list-action a,
.list-group .list-group-item .action-checkout a,
.list-group .list-group-item .action-remove a {
  display: block;
  border-radius: 0.5rem;
}
.list-group .list-group-item .list-action .del,
.list-group .list-group-item .action-remove .remove {
  border: 0.05rem solid var(--component-crimson) !important;
}

.list-group .list-group-item .list-action .throw-to-cart {
  border: 0.05rem solid var(--component-golden) !important;
}

.list-group .list-group-item .list-action .throw-to-wishlist,
.list-group .list-group-item .action-checkout .picker {
  border: 0.05rem solid var(--component-emerald) !important;
}

.list-group .list-group-item .list-action .del:hover,
.list-group .list-group-item .action-remove .remove:hover {
  background-color: var(--component-crimson);
  transition: 0.5s;
}

.list-group .list-group-item .list-action .throw-to-wishlist:hover,
.list-group .list-group-item .action-checkout .picker:hover {
  background-color: var(--component-emerald);
  transition: 0.5s;
}

.list-group .list-group-item .list-action .throw-to-cart:hover {
  background-color: var(--component-golden);
  transition: 0.5s;
}

.list-group .list-group-item .list-action .del:hover i,
.list-group .list-group-item .list-action .throw-to-cart:hover i,
.list-group .list-group-item .list-action .throw-to-wishlist:hover i,
.list-group .list-group-item .action-checkout .picker:hover,
.list-group .list-group-item .action-checkout .picker:hover i,
.list-group .list-group-item .action-remove .remove:hover,
.list-group .list-group-item .action-remove .remove:hover i {
  color: var(--dark-base) !important;
}

.bottom-list .list-group-item .d-flex > *,
.bottom-list .list-group-item .d-flex .fw-bold {
  color: var(--component-emerald) !important;
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Category Inner Item */
/**/ /**/ /**/
/**/ /**/ /**/

.container .items-container .item-card {
  background-color: var(--dark-warm) !important;
  width: 48% !important;
  border-radius: 0.5rem;
  border: var(--light-border) !important;
  box-shadow: none;
  padding: 0.3rem;
  position: relative;
  overflow: hidden;
}

.container .items-container .item-card > * {
  font-size: 1.65rem;
}

.container .items-container .item-card .name {
  text-align: start !important;
  height: 3.5rem;
  font-size: 1.45rem;
}

.container .items-container .item-card .fa-heart,
.container .items-container .item-card .fa-eye {
  position: absolute;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
  border: none;
  background-color: transparent;
  border-radius: 0.3rem;
}

.container .items-container .item-card .fa-heart {
  color: var(--component-crimson);
  right: 1rem;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.container .items-container .item-card .fa-eye {
  color: var(--component-turquoise);
  left: 1rem;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.container .items-container .item-card .fa-heart:hover,
.container .items-container .item-card .fa-eye:hover {
  /* background-color: var(--dark-base); */
  text-shadow: 0 0 15px var(--component-orange);
  transition: 0.3s linear;
}

.container .items-container .item-card:hover .fa-heart {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.container .items-container .item-card:hover .fa-eye {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.container .items-container .item-card .image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container .items-container .item-card .qty {
  width: fit-content !important;
}

.container .items-container .item-card input {
  background-color: var(--dark-base);
  color: var(--light-primary) !important;
  font-size: 1.35rem;
}

.container .items-container .item-card input[type='submit'] {
  border: 1px solid var(--component-orange);
}

.container .items-container .item-card input[type='submit']:hover {
  color: var(--dark-base) !important;
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Quick View */
/**/ /**/ /**/
/**/ /**/ /**/

.quick-view-section .item-card {
  background-color: var(--dark-second);
  border: var(--light-border);
  gap: 1rem;
  width: 100% !important;
  border-radius: 0.5rem;
  box-shadow: none;
}

.quick-view-section .item-card .img-container {
  flex: 1 1 20rem;
}

.quick-view-section .item-card .card-body {
  flex: 1 1 20rem;
}

.quick-view-section .item-card .img-container .big-img img {
  height: fit-content;
  width: 100%;
  object-fit: contain;
}

.quick-view-section .item-card .img-container .little-imgs {
  gap: 0.8rem;
}

.quick-view-section .item-card .img-container .little-imgs img {
  height: 3.5rem;
  width: 3.5rem;
  border: var(--light-border);
  cursor: pointer;
  transition: 0.3s linear;
}

.quick-view-section .item-card .card-body div input {
  width: fit-content;
}

.quick-view-section .item-card .card-body div .price {
  width: fit-content;
  border-radius: 0.3rem;
  background-color: var(--component-livid);
}

.quick-view-section .item-card .row .card-body > * {
  font-size: 1.55rem;
  line-height: 1.6rem;
}

.quick-view-section .item-card .row .card-body input[type='text'],
.quick-view-section .item-card .row .card-body input[type='number'],
.quick-view-section .item-card .row .card-body .d-flex div a.btn-custom {
  border: 0.05rem solid var(--component-emerald) !important;
  border-radius: 0.5rem;
  color: var(--component-emerald) !important;
  font-size: 1.45rem;
  background-color: var(--dark-second);
  width: fit-content;
}

.quick-view-section .item-card .row .card-body input[type='text'] {
  width: 9rem !important;
  border: none !important;
  border-radius: 0.5rem;
  color: var(--component-emerald) !important;
  font-size: 1.45rem;
  background-color: var(--dark-second);
}

.quick-view-section .item-card .row .card-body div div .fa-heart {
  width: 3rem;
  height: 3rem;
  color: var(--component-crimson) !important;
  background-color: transparent !important;
  font-size: 1.7rem;
  border: none;
}

.quick-view-section .item-card .row .card-body div div .fa-heart:hover {
  text-shadow: 0 0 15px var(--component-crimson);
  transition: 0.3s linear;
}

.quick-view-section .item-card .row .card-body .d-flex div a.btn-custom:hover {
  background-color: var(--component-emerald);
}

.quick-view-section .item-card .row .card-body .d-flex div a.btn-custom:hover span,
.quick-view-section .item-card .row .card-body .d-flex div a.btn-custom:hover i {
  color: var(--dark-second);
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* About */
/**/ /**/ /**/
/**/ /**/ /**/

.about-section {
  height: fit-content;
}

.about-section .row-12 {
  gap: 1.5rem;
}

.about-section .row-12 section.reviews .reviews-slider .w .slider {
  width: 100%;
  height: fit-content !important;
}

.about-section .ilustration {
  flex: 1 1 40rem;
}

.about-section .about-content {
  flex: 1 1 40rem;
}

.about-section .about-content h4 {
  text-transform: capitalize !important;
}

.about-section .about-content > p,
.about-section .about-content > a {
  font-weight: 200 !important;
  font-size: 1.55rem;
  line-height: 1.8rem;
}

.about-section .about-content a.btn {
  padding: 0.9rem 4.5rem 0.9rem 4.5rem;
  width: fit-content;
  align-self: center;
}

.reviews .reviews-slider {
  cursor: grab;
}

.reviews .reviews-slider .slider {
  background-color: var(--dark-second);
  border: var(--light-border);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  cursor: grab;
}

.reviews .reviews-slider .slider img {
  height: auto;
  width: 10rem;
  /* object-fit: contain; */
  border-radius: 50%;
}

.reviews .reviews-slider .slider p {
  padding: 1rem 0;
  line-height: 1.8;
  font-size: 1.65rem;
}

.reviews .reviews-slider .slider .stars {
  display: block;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--dark-second);
  margin-top: 1rem;
}

.reviews .reviews-slider .slider .stars i {
  font-size: 1.3rem;
  color: var(--component-golden);
  margin: 0 0.3rem;
}

.reviews .reviews-slider .slider h3 {
  font-size: 1.8rem;
  /* margin-top: 1rem; */
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Shop Page */
/**/ /**/ /**/
/**/ /**/ /**/

/*** Card Setup ***/

.search-container .search-product-result .products-result-header,
.section-latest .products-latest-row .products-row-header,
.section-all .products-all-row .products-row-header {
  color: var(--component-turquoise) !important;
  font-size: 1.7rem;
}

.search-container .search-product-result .wrapper .product-card,
.section-latest .products-latest-row .wrapper .product-card,
.section-all .products-all-row .wrapper .product-card {
  width: 100%;
  height: auto;
  background-color: var(--dark-second);
  border-radius: 0.5rem;
  border: none;
  box-shadow: none;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.search-container .search-product-result .wrapper .product-card > *,
.section-latest .products-latest-row .wrapper .product-card > *,
.section-all .products-all-row .wrapper .product-card > * {
  font-size: 1.65rem;
}

.search-container .search-product-result .wrapper .product-card .name,
.section-latest .products-latest-row .wrapper .product-card .name,
.section-all .products-all-row .wrapper .product-card .name {
  text-align: start !important;
  height: 3.5rem;
  font-size: 1.45rem;
}

.search-container .search-product-result .wrapper .product-card .fa-heart,
.search-container .search-product-result .wrapper .product-card .fa-eye,
.section-latest .products-latest-row .wrapper .product-card .fa-heart,
.section-latest .products-latest-row .wrapper .product-card .fa-eye,
.section-all .products-all-row .wrapper .product-card .fa-heart,
.section-all .products-all-row .wrapper .product-card .fa-eye {
  position: absolute;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
  border: none;
  background-color: transparent;
  border-radius: 0.3rem;
}

.search-container .search-product-result .wrapper .product-card .fa-heart,
.section-latest .products-latest-row .wrapper .product-card .fa-heart,
.section-all .products-all-row .wrapper .product-card .fa-heart {
  color: var(--component-crimson);
  right: 1rem;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.search-container .search-product-result .wrapper .product-card .fa-eye,
.section-latest .products-latest-row .wrapper .product-card .fa-eye,
.section-all .products-all-row .wrapper .product-card .fa-eye {
  color: var(--component-turquoise);
  left: 1rem;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.search-container .search-product-result .wrapper .product-card .fa-heart:hover,
.search-container .search-product-result .wrapper .product-card .fa-eye:hover,
.section-latest .products-latest-row .wrapper .product-card .fa-heart:hover,
.section-latest .products-latest-row .wrapper .product-card .fa-eye:hover,
.section-all .products-all-row .wrapper .product-card .fa-heart:hover,
.section-all .products-all-row .wrapper .product-card .fa-eye:hover {
  /* background-color: var(--dark-base); */
  text-shadow: 0 0 15px var(--component-crimson);
  transition: 0.3s linear;
}

.search-container .search-product-result .wrapper .product-card:hover .fa-heart,
.section-latest .products-latest-row .wrapper .product-card:hover .fa-heart,
.section-all .products-all-row .wrapper .product-card:hover .fa-heart {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.search-container .search-product-result .wrapper .product-card:hover .fa-eye,
.section-latest .products-latest-row .wrapper .product-card:hover .fa-eye,
.section-all .products-all-row .wrapper .product-card:hover .fa-eye {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.search-container .search-product-result .wrapper .product-card .image,
.section-latest .products-latest-row .wrapper .product-card .image,
.section-all .products-all-row .wrapper .product-card .image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.search-container .search-product-result .wrapper .product-card .qty,
.section-latest .products-latest-row .wrapper .product-card .qty,
.section-all .products-all-row .wrapper .product-card .qty {
  width: fit-content !important;
}

.search-container .search-product-result .wrapper .product-card input,
.section-latest .products-latest-row .wrapper .product-card input,
.section-all .products-all-row .wrapper .product-card input {
  background-color: var(--dark-base);
  color: var(--light-primary) !important;
  font-size: 1.35rem;
}

.search-container .search-product-result .wrapper .product-card input[type='submit'],
.section-latest .products-latest-row .wrapper .product-card input[type='submit'],
.section-all .products-all-row .wrapper .product-card input[type='submit'] {
  border: 1px solid var(--component-orange);
}

.search-container .search-product-result .wrapper .product-card input[type='submit']:hover,
.section-latest .products-latest-row .wrapper .product-card input[type='submit']:hover,
.section-all .products-all-row .wrapper .product-card input[type='submit']:hover {
  color: var(--dark-base) !important;
}

/*** Latest Row ***/

.section-latest .products-latest-row {
  margin: 0;
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Contact Page */
/**/ /**/ /**/
/**/ /**/ /**/

.contact-section form .iti .iti__flag-container ul .iti__country {
  background-color: var(--dark-warm) !important;
}

.contact-section form .iti .iti__flag-container ul .iti__country .iti__flag-box {
  background-color: var(--dark-warm) !important;
}

.contact-section form .iti .iti__flag-container ul .iti__country span {
  color: var(--light-primary) !important;
}

.contact-section .card input,
.contact-section .card textarea {
  border: none !important;
  color: var(--light-primary) !important;
}

.contact-section .card textarea {
  resize: none;
}

.contact-section form .iti input[type='tel'] {
  background-color: var(--dark-warm);
}

.contact-section .card input {
  margin-bottom: 1rem !important;
}

.contact-section .card input[type='text'],
.contact-section .card input[type='email'],
.contact-section .card textarea {
  background-color: var(--dark-warm);
  color: var(--light-primary);
}

.contact-section form button.btn-custom {
  background-color: var(--dark-second);
  border: 0.08rem solid var(--component-turquoise) !important;
  color: var(--component-turquoise);
  width: 100%;
  border-radius: 0.3rem;
}

.contact-section form button.btn-custom:hover {
  background-color: var(--component-turquoise);
  color: var(--dark-second);
}

/**/ /**/ /**/
/**/ /**/ /**/
/********************************************************************* Search Page */
/**/ /**/ /**/
/**/ /**/ /**/

.search-container form {
  gap: 1rem !important;
}

.search-container form input {
  padding: 0.5rem;
  font-size: 1.65rem;
  color: var(--light-primary) !important;
  background-color: var(--dark-warm);
  width: 100% !important;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}

.search-container form .btn-custom {
  width: 15%;
  background-color: var(--dark-base);
  color: var(--component-turquoise);
  border: 0.08rem solid var(--component-turquoise);
  border-radius: 0.5rem;
  font-size: 1.65rem;
}

.search-container form .btn-custom:hover {
  background-color: var(--component-turquoise);
  color: var(--dark-base);
  border: 0.08rem solid var(--component-turquoise);
}
